div.player.self {
  background: #fff;
}

div.player {
  border-bottom: 3px solid red;
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  background: #ccc;
}

div.player span.label {
  position: absolute;
  bottom: -15px;
  height: 10px;
  color: #ccc;
  font-size: 10px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #fff;
}

canvas#universe {
  background: #000;
}
