body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000
}

h1 {
  color: #fff;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.6em;
  margin: 20px 0;
}

h1 span {
  font-variant: normal;
}

canvas#universe {
  display: block;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: #000 url(/background.jpg) center center no-repeat;
}

div#container {
}

div#login {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}
