body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000
}

h1 {
  color: #fff;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 0.6em;
  margin: 30px 0 40px 0;
}

h1 span {
  font-variant: normal;
}

canvas#universe {
  display: block;
  width: 480px;
  height: 300px;
  margin: 0 auto;
  background: #131313;
  /*background: #000 url(/background.jpg) center center no-repeat;*/
}

div#container {
}

div#login {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

#scoreboard thead td,
#scoreboard thead td.rank,
#scoreboard thead td.kills {
  font-family: sans-serif;
  font-size: 0.8em;
  border-bottom: 1px solid #666;
}

#scoreboard td.kills {
  text-align: right;
  font-family: monospace;
  padding-right: 50px;
}

#scoreboard td.rank {
  text-align: right;
  width: 100px;
}

#scoreboard {
  width: 100%;
}

#scoreboard td {
  padding: 4px;
  color: #fff;
  border-bottom: 1px solid #333;
}

#scoreboard-frame {
  width: 500px;
  height: 300px;
  border: none;
  margin: 0 auto;
  display: block;
}

#game-frame {
  width: 480px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border: none;
}

h2 {
  text-align: center;
  margin-top: 100px;
  font-weight: normal;
  color: #333;
}

p.progress span {
  font-family: monospace;
  color: #999;
  font-size: 1.4em;
  font-weight: bold;
  background: #fff;
  padding: 0px 5px;
  border-radius: 4px;
  margin: 0 2px;
  text-shadow: -1px -1px 1px #333;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}

p.progress {
  text-align: center;
  color: #555;
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
}
