div.player.self {
  background: #fff;
}

div.player {
  border-bottom: 3px solid red;
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  background: #ccc;
}

div.player span.label {
  position: absolute;
  bottom: -15px;
  height: 10px;
  color: #ccc;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #111
}

h1 {
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

canvas#universe {
  background: #000;
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

div#container {
}
