<html>
  <head>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/client.js"></script> 
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        var universe = require("universe");
        universe.bang();
      }, false);
    </script>
    <link type="text/css" rel="stylesheet" href="/game.css" />
  </head>
  <body>
    <div id="container">
      <img src="/dragon.png" style="position:absolute;left:-100px" id="dragon">
      <h1>ᴅ ʀ ᴀ ɢ ᴏ ɴ s ᴛ ʀ ʏ ƒ ᴇ</h1>
      <canvas id="universe" width="800" height="600"></canvas>
    </div>
  </body>
</html>
